@model ShakeotDay.ViewModels.GameHand
@{
    ViewData["Title"] = "Game Details";
}


<nav>
    <a asp-area="" asp-controller="Game" asp-action="Index" >&lt; &lt; Back</a>
</nav>


<div id="gamedetailswrapper">
    <h3>Playing Games and viewing detailed results.</h3>
    <table class="game">
        <tr>
            <th>Id</th>
            <th>Game Closed?</th>
            <th>Rolls Taken</th>
            <th>Win?</th>
        </tr>
        
        <tr>
            <td>
                @Model.CurrentGame.Id
            </td>
            <td>@Model.CurrentGame.isClosed</td>
            <td>@Model.CurrentGame.RollsTaken</td>
            <td>@Model.CurrentGame.isWinningGame</td>
        </tr>
    </table>

    <div class="playpanel">
        @if (!Model.CurrentGame.isClosed)
        {
            <div class="playarea">
                <div class="dicearea">
                    @foreach(var die in Model.CurrentHand.Hand)
                    {
                        <div class="die"> @die.value / @(die.holding ? "H" : "") </div>
                    }
                </div>
                <div class="diceControlArea">
                    dice buttons go here
                </div>
            </div>
        }

    </div>

</div>