@model ShakeotDay.ViewModels.GameHand
@{
    ViewData["Title"] = "Game Details";
}


<nav>
    <a asp-area="" asp-controller="Game" asp-action="Index" >&lt; &lt; Back</a>
</nav>


<div id="gamedetailswrapper">
    <h3>Playing Games and viewing detailed results.</h3>
    <table class="game">
        <tr>
            <th>Id</th>
            <th>Game Closed?</th>
            <th>Rolls Taken</th>
            <th>Win?</th>
        </tr>
        
        <tr>
            <td>
                @Model.CurrentGame.Id
            </td>
            <td>@Model.CurrentGame.isClosed</td>
            <td>@Model.CurrentGame.RollsTaken</td>
            <td>@Model.CurrentGame.isWinningGame</td>
        </tr>
    </table>

    <div class="playpanel">
        @if (!Model.CurrentGame.isClosed)
        {
            <div class="playarea">
                <div class="diceInstructions">Click to hold</div>
                <div class="dicearea">
                    @foreach(var die in Model.CurrentHand.Hand.Select((game,i) => new { i, game }))
                    {
                        <div class="die @(die.game.holding ? "diehold" : "")" data-held="@die.game.holding" data-handpos="@die.i"> @die.game.value </div>
                    }
                </div>
                <div class="diceControlArea">
                    <button class="btn btn-primary btn-block @(Model.CurrentGame.isClosed ? "disabled" : "active") " 
                            id="roll_button" data-gameNo="@Model.CurrentGame.Id" > Roll </button>
                    user @ViewData["UserId"]
                </div>
            </div>
        }

    </div>
    @section Scripts {
        <script>

            var thisHandModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CurrentHand));           

            $(".die").click(function () {
                //flip held value
                $(this).toggleClass('diehold');
                thisHandModel.Hand[parseInt($(this).data("handpos"))].holding = $(this).data("held") == "true" ? "false" : "true";
                $(this).data("held", ($(this).data("held") === "true" ? "false" : "true"))
                logHand(thisHandModel);
            });
        
            function clearDie() {
                $(this).text('');
            }

            function logHand(gamehandIn){
                console.log(gamehandIn);
            }

            var newHand = null;
            $('#roll_button').click(function(){
                var gamehand = {
                    
                
                }
                var newHand = $.ajax({
                    url: "@Url.Content($"~/api/Game/{Model.CurrentGame.Id}/roll/{ViewData["UserId"]}")",
                    data : thisHandModel,
                    success: function( data) {
                        newHand = data;                    
                    },  
                    type: "post",
                    error: function(jqx, stat, err){
                        console.log("jq: " + jqx + "stat: " + stat + " err:" + err);                    
                    },
                    contentType:"application/json"
                });
                logHand(newHand);
            });
        </script>
    }
    
</div>

