@using Microsoft.AspNetCore.Http

@model IEnumerable<ShakeotDay.Core.Models.Game>
@{
    
}

<h3>Recent Games</h3>

<div class="gamesIndexWrapper">
    <table class="games" id="games">
        <thead>
            <tr>
                <th>Game ID</th>
                <td>Date Played</td>
                <td>Result</td>
            </tr>
        </thead>
        @foreach(var game in Model)
        {
            
            <tr data-gameid="@game.Id">
                <td>@game.Id</td>
                <td>@game.Year / @game.Day</td>
                <td>@game.isWinningGame</td>
                <td> <button type="button" class="btn btn-link" id="Game_@game.Id">Details</button></td>
            </tr>

        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $('#games').DataTable();
    });
</script>